/* UTILITY */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
:root {
  --lightblue: #b4d0e7;
  --white: #ffffff;
  --blue: #0061ff;
  --black: #000000;
  --lightgrey: #eeeeee;
  --grey: #939393;
  --greyC5: #c5c5c5;
  --greya0: #a0a0a0;
  --greybb: #bbbbbb;
  --rose: #e5b5b6;
}

body {
  background-color: var(--white);
  font-family: Arial, Helvetica, sans-serif;
}
.container {
  max-width: 1200px;
  margin: 0 auto;
}
.small-container {
  max-width: 1000px;
  margin: 150px auto;
}

/* HEADER  */
.flexbox {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
}
header nav {
  width: 100%;
  height: 80px;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 999;
  background-color: var(--white);
}
.nav-function {
  display: inline;
  margin-bottom: 20px;
}

.logo {
  display: inline;
  vertical-align: middle;
}

a {
  padding: 13px;
  text-decoration: none;
  color: black;
}

.btn {
  background-color: var(--blue);
  padding: 8px 4px;
  font-size: 14px;
  border: 0;
  margin-right: 15px;
}

.btn-font {
  color: var(--white);
}

#hero {
  background-color: var(--lightblue);
  padding-top: 80px;
}
#hero .container {
  position: relative;
  bottom: -80px;
}
#hero img {
  width: 100%;
}

h1 {
  font-size: 76px;
  margin-bottom: 50px;
}
.d-flex {
  display: flex;
}
.w-30 {
  width: 30%;
}
.w-70 {
  width: 70%;
}
#trial {
  margin-top: 25px;
  padding: 10px 5px;
  margin-bottom: 25px;
}
.annulla {
  margin-left: -13px;
  font-size: 14px;
}

/* MAIN  */
#titleplan {
  font-size: 34px;
}
/* CUSTOM BUTTON  */
.custom-btn {
  display: inline-block;
  position: relative;
  margin-top: 50px;
  margin-bottom: 10px;
  cursor: pointer;
  font-size: 16px;
  padding-left: 35px;
  margin-right: 50px;
}

.custom-btn input {
  position: absolute;
  opacity: 0;
  cursor: pointer;
}

.checkmark {
  position: absolute;
  top: 0;
  left: 0;
  height: 25px;
  width: 25px;
  background-color: #eee;
  border-radius: 50%;
  border: 1px solid lightgray;
}

.custom-btn:hover input ~ .checkmark {
  background-color: #ccc;
}

.custom-btn input:checked ~ .checkmark {
  background-color: #2196f3;
}

.checkmark:after {
  content: "";
  position: absolute;
  display: none;
}

.custom-btn input:checked ~ .checkmark:after {
  display: block;
}

.custom-btn .checkmark:after {
  top: 7px;
  left: 7px;
  width: 9px;
  height: 9px;
  border-radius: 50%;
  background: white;
}
/* END CUSTOM BUTTON  */
.flex-plan {
  display: flex;
  flex-basis: auto;
  flex-wrap: wrap;
  justify-content: space-between;
}
.container-plan {
  display: inline-block;
  width: 293px;
  margin-top: 20px;
  border: 1px solid var(--greyC5);
}

.center {
  margin-top: 20px;
}

.plan-type {
  text-align: center;
  font-size: 16px;
}
.buynow {
  color: var(--blue);
  text-decoration: underline;
  margin-left: -13px;
}
.divider {
  width: 40px;
  border: 1px solid var(--rose);
}
.check {
  color: var(--blue);
}
.container-plan > * {
  margin: 25px;
}
/* HORIZONTAL CONTAINER  */
.h-container {
  width: 1000px;
  border: 1px solid var(--greyC5);
  margin-top: 50px;
}

.divider-100 {
  width: 100%;
  border-top: 1px solid var(--greyC5);
  margin-top: 15px;
}

.team-building {
  text-align: center;
  margin-top: 15px;
}
#enterprise {
  display: inline;
  font-size: 22px;
  margin-top: 25px;
}
.contact-btn {
  margin-top: 25px;
  margin-right: 25px;
  padding: 10px 6px;
}
.h-flex {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
#price {
  font-weight: 600;
  font-size: 14px;
  margin-top: 15px;
  margin-bottom: 45px;
}

#info-p {
  max-width: 700px;
  margin-bottom: 25px;
}
#enterprise,
#price,
#info-p {
  margin-left: 25px;
}
/* END CONTAINER PLAN  */

/* IMAGE + TEXT SECTION 2 */
.flex-partner {
  display: flex;
  justify-content:space-around;
}
#big-image {
  width: 60%;
}
#text {
  width: 40%;
  margin-right: 60px;
  margin-left: 60px;
}
#title-partner{
  margin-top: 50px;
}
#parag {
  margin-top: 20px;
  margin-bottom: 35px;
}
.white-btn{
  background-color: var(--white);
  border: 1px solid var(--black);
  padding: 8px 1px;
}
.btn-white-font {
  color: var(--black);
}
.plan {
  width: 80%;
}

/* FREE TRIAL SECTION  */

.freetrial{
  width: 100%;
  height: 300px;
  background-color: var(--lightblue);
}
.container-trial {
  width: 1000px;
  margin: auto;
}
.trial-flex{
  display: flex;
  justify-content: space-between;
  align-items: center;
}

#h2-trial {
 max-width:  370px;
 font-size: 30px;
}

.btn-trial {
  border: 0px;
  padding: 8px 20px;
}

#btn-trial-font {
  padding: 10px 20px;
}

.line {
 margin: 30px ;
}

#greya0 {
  border-top: 1px solid var(--greya0);
}
#greyc5 {
  border-top: 1px solid var(--greyC5);
}
#lightgrey {
  border-top: 1px solid var(--lightgrey);
}
#greybb {
  border-top: 1px solid var(--greybb);
}
#domande-frequenti {
  font-size: 35px;
  margin-bottom: 50px;
}

.faq {
  font-weight: 600;
}
.angle-down {
  margin-right: 30px;
}

/* FOOTER  */
footer {
  background-color: var(--black);
  color: var(--white);
}
.flex-footer {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}
ul {
  list-style-type: none;
}

.h3 {
  margin-top: 80px;
  padding-bottom: 25px;
}

li {
  padding: 8px 0;
}
